################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EternalDungeon/EternalDungeon/x64/Debug/vc141.pdb
/EternalDungeon/EternalDungeon/x64/Debug/vc141.idb
/EternalDungeon/EternalDungeon/x64/Debug/Utility.obj
/EternalDungeon/EternalDungeon/x64/Debug/TreasureCard.obj
/EternalDungeon/EternalDungeon/x64/Debug/stdafx.obj
/EternalDungeon/EternalDungeon/x64/Debug/Stat.obj
/EternalDungeon/EternalDungeon/x64/Debug/Player.obj
/EternalDungeon/EternalDungeon/x64/Debug/Picture.obj
/EternalDungeon/EternalDungeon/x64/Debug/Name.obj
/EternalDungeon/EternalDungeon/x64/Debug/MonsterCard.obj
/EternalDungeon/EternalDungeon/x64/Debug/MonsterAbility.obj
/EternalDungeon/EternalDungeon/x64/Debug/LootCard.obj
/EternalDungeon/EternalDungeon/x64/Debug/Level.obj
/EternalDungeon/EternalDungeon/x64/Debug/Inventory.obj
/EternalDungeon/EternalDungeon/x64/Debug/Health.obj
/EternalDungeon/EternalDungeon/x64/Debug/GameWorld.obj
/EternalDungeon/EternalDungeon/x64/Debug/EventCard.obj
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/link.write.1.tlog
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/link.read.1.tlog
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/link.command.1.tlog
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/EternalDungeon.lastbuildstate
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/CL.write.1.tlog
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/CL.read.1.tlog
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.tlog/CL.command.1.tlog
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.pch
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.obj
/EternalDungeon/EternalDungeon/x64/Debug/EternalDungeon.log
/EternalDungeon/EternalDungeon/x64/Debug/Dice.obj
/EternalDungeon/EternalDungeon/x64/Debug/Deck.obj
/EternalDungeon/EternalDungeon/x64/Debug/CardObject.obj
/EternalDungeon/EternalDungeon/x64/Debug/Battle.obj
/EternalDungeon/EternalDungeon/x64/Debug/BasicAttack.obj
/EternalDungeon/EternalDungeon/x64/Debug/Armor.obj
/EternalDungeon/EternalDungeon/x64/Debug/Accuracy.obj
/EternalDungeon/EternalDungeon/x64/Debug/AbilityList.obj
/EternalDungeon/EternalDungeon/x64/Debug/Ability.obj
/EternalDungeon/EternalDungeon/x64/Debug/Abilities.obj
/EternalDungeon/.vs/EternalDungeon/v15/ipch/a4c25dab4400c7c4.ipch
/EternalDungeon/.vs/EternalDungeon/v15/Browse.VC.opendb
/EternalDungeon/.vs/EternalDungeon/v15/Browse.VC.db
/EternalDungeon/.vs/EternalDungeon/v15/.suo
